* {
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 350px 1fr;
  grid-column-gap: 20px;
}

.header {
}

.main {
}

.left-bar {
  display: flex;
  flex-direction: column;
}

.right-bar {
}

.footer {
}
